body {
  background-color: rgb(255, 247, 134);
}

.mainDiv {
  display: flex;
  flex-wrap: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

.notesHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  width: 50em;
  height: 20em;
}

.eachNote {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.note {
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  height: 3em;
  width: 8em;
  padding: 1em;
  margin: 1em;
}

.noteText {
  overflow: auto;
  word-wrap: break-word;
  height: 3em;
  width: 8em;
  /* background-color: red; */
}

.seeMoreButton {
  background-color: cornflowerblue;
  color: inherit;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.mainInput {
  resize: both;
  height: 5em;
  width: 20em;
}
