body {
  background-color: rgb(255, 247, 134);
}

/* .shadowDiv {
  background-color: black;
  height: 100%;
  width: 100%;
  padding: none;
} */

.mainDiv {
  display: flex;
  flex-wrap: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
}

.notesHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  width: 50em;
  height: 20em;
}

.eachNote {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.note {
  border-radius: 5px;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  height: 3em;
  width: 8em;
  padding: 1em;
  margin: 1em;
}

.noteText {
  overflow: auto;
  word-wrap: break-word;
  height: 3em;
  width: 8em;
  /* background-color: red; */
}

.expandButton {
  background-color: cornflowerblue;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.mainInput {
  resize: both;
  height: 5em;
  width: 20em;
}

.expandedNote {
  border-radius: 10px;
  margin-top: 30px;
  border: 1px solid;
  position: absolute;
  height: 10em;
  width: 30em;
  background-color: white;
  visibility: hidden;
}

.closeExpand {
  float: right;
  background-color: firebrick;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
